*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	background-color: #162436;
	height: 100%;
}

body{
	position:relative;
	background: radial-gradient(circle at center, rgba(#49596d, .7), rgba(#162436, 0) 70%), ;
	min-height: 100%;

}

.svg-wrapper{
	display: none;
}

// Typo

body{
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 1.5rem;
	padding-bottom: 250px;
}

// Décor Noel

#snow{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;

	*{
		transform: scale(1.5) !important;
	}
}

.logo{
	padding-top: 50px;
	text-align: center;
	
	svg{
		width: 300px;
		height: auto;
	}
}

footer{
	width: 100%;
	height: 250px;
	background: url('img/bas-neige.png') no-repeat center top;
	text-align: center;
	margin-top: 50px;
	position: absolute;
	bottom: 0;

	&::after{
		content:url('img/cadeaux.png');
		position: absolute;
		bottom: 20px;
		left: calc(50% - 136px);
	}
}

// Autre

.wrapper{
	max-width: 90%;
	margin: 0 auto;
    position: relative;

	@include width-below(500px){
		max-width: 100%;
	}
}

.content{
	margin-top: 80px;
}

.grid-sizer{
    @include width-above(1921px){
		width: calc(100%/4 - 150px/4);
	}	
    
	@include width-below(1920px){
		width: calc(100%/3 - 100px/3);
	}	

	@include width-below(1300px){
		width: calc(50% - 25px);
	}

	@include width-below(700px){
		width: 100%;
	}
}


// Bouton

.bt{
	transition: all ease .20s;
	font-family: 'Lato';
	display: inline-block;
	background-color: $vert;
	padding: 14px 20px 12px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3rem;
	border-radius: 6px;
	box-shadow: 3px 3px 0 darken($vert, 15%);
	border:0;
	cursor: pointer;
	line-height: 1.3em;

	&:hover{
		background-color: darken($vert, 10%);
		box-shadow: 3px 3px 0 darken($vert, 35%);
	}

	&.bt-edit-gift{
		background-color: $bleu-typo;
		box-shadow: 3px 3px 0 darken($bleu-typo, 15%);

		&:hover{
			background-color: darken($bleu-typo, 10%);
			box-shadow: 3px 3px 0 darken($bleu-typo, 35%);
		}
	}
}

.bt-cancel{
	transition: all ease .2s;
	font-family: 'Lato';
	font-weight: 700;
	font-size: 1.4rem;
	text-decoration: underline;
	background: none;
	border:0;
	color: $rouge;
	cursor:pointer;
}

.wrapper-title{

	padding-right: 90px;

	p{
		
	}

	.ico-edit{
		transition: opacity ease .25s;
		position: absolute;
		right: 10px;
		top: 13px;
		opacity: 0;
	}

	.ico-trash{
		transition: opacity ease .25s;
		position: absolute;
		right: 43px;
		top: 13px;
		opacity: 0;

		&:hover svg{
			fill: $rouge;
			
		}

		button{
			background: none;
			border: 0;
		}
	}

	svg{
		transition: fill ease .25s;
		cursor: pointer;
		width: auto;
		height: 20px;
		fill: #c7c7c7;

		&:hover{
			fill: $vert;
		}
	}
}

.wrapper-bt-edit-gift{
	margin: 20px 0;
}

// Confirmation suppression

.confirmation-suppression{
	display: none;
	position: absolute;
	background-color: rgba(#000, .85);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 7px 15px;
	z-index: 100;

	p{
		color: $blanc;
		font-weight: 900;
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
	}

	form{
		display: inline-block;
		vertical-align: middle;
	}

	.bt{
		padding: 5px 9px 3px;
		background-color: $rouge;
		box-shadow: none;

		&:hover{
			background-color: darken($rouge, 15%);
			box-shadow: none;
		}
	}

	.annuler-suppression{
		margin-left: 10px;
		font-size: 1.3rem;
		text-decoration: underline;
		cursor: pointer;
	}
}

input[type="text"]{
	box-shadow: none !important;
}

// Logout

.logout{
    a{
        color: $blanc;
        font-weight: 700;
    }
}