.user{

	vertical-align: top;
	background-color: $blanc;
	border-radius: 5px;
	padding: 110px 30px 30px;
	margin-bottom: 85px;
	position: relative;
    
    @include width-above(1921px){
		width: calc(100%/4 - 150px/4);
	}	
    
	@include width-below(1920px){
		width: calc(100%/3 - 100px/3);
	}	

	@include width-below(1300px){
		width: calc(50% - 25px);
	}

	@include width-below(700px){
		width: 100%;
		padding: 110px 10px 30px;
	}

	h2{
		text-transform: uppercase;
		color: $rouge;
		font-size: 2rem;
		text-align: center;
		font-weight: 900;
		margin-bottom: 10px;
		padding: 10px 0;
	}

	li{
		position: relative;
		border-bottom: 1px solid #e0e0e6;
		padding: 11px;

		&:first-child{
			border-top: 1px solid #e0e0e6;
		}

		&:hover{
			.ico-edit,
			.ico-trash{
				opacity: 1;
			}
		}
        
        &.reserve{
            .gift-title,
            .gift-link,
            .gift-description{
                opacity: .3;
            }
            
            .gift-title,
            .gift-description{
                text-decoration: line-through;
            }
        }
	}

	.gift-title{
        transition: all ease .2s;
		color: $bleu-typo;
		font-weight: 700;
		line-height: 1.3em;
		display: inline;
	}

	.gift-link{
        transition: all ease .2s;
		display: inline;
		position: relative;
		top: 3px;
		margin-left: 4px;
		svg{
			transition: fill ease .20s;
			width: 20px;
			height: auto;
			fill: $bleu-typo;
		}

		&:hover{
			svg{
				fill: $vert;
			}
		}
	}

	.gift-description{
		color: rgba($bleu-typo, .75);
		font-size: 1.3rem;
		line-height: 1.4em;
		margin-top: 5px;
	}
    
    //BT Résa
    
    .bt_resa{
        transition: opacity 0.3s ease .05s;
        font-size: 1.1rem;
        text-transform: none;
        padding: 8px 10px 6px;
        position: absolute;
        right: 0;
        top: 6px;
        opacity: 0;
    }
    
    //BT Annuler
    
    .bt_annuler{
        transition: opacity 0.3s ease .05s;
        font-size: 1.1rem;
        text-transform: none;
        padding: 8px 10px 6px;
        position: absolute;
        right: 0;
        top: 6px;
        background-color: $rouge;
        box-shadow: 3px 3px 0px darken($rouge, 10%);
        opacity: 0;
        
        &:hover{
           background-color: darken($rouge, 20%);;
            box-shadow: 3px 3px 0px darken($rouge, 40%); 
        }
    }
    
    // Résa Par
    
    .resaPar{
        transition: opacity 0.3s ease .05s;
        position: absolute;
        right: 0;
        top: 6px;
        opacity: 0;
        
        img{
            width: 30px;
            height: auto;
            display: inline-block;
            vertical-align: middle;
        }
        
        span{
            display: inline-block;
            vertical-align: middle;
            font-size: 1.2rem;
            font-weight: bold;
            margin-left: 5px;
            position: relative;
            top: 2px;
            color: $bleu-typo;
            opacity: .6;
        }
    }
    
        li:hover{
            .bt_resa,
            .resaPar,
            .bt_annuler{
                opacity: 1;
            }
    }

	// avatar

	.illu{

		position: absolute;
		top: -50px;
		left: calc(50% - 80px); // - la moitié de la largeur + le padding
		background-color: $blanc;
		padding: 20px 20px 0 ;
		border-radius: 100%;

		svg, img{
			width: 120px;
			height: auto;
		}		
	}

	// Form ajout cadeau

	input[type="text"],
	textarea{
		transition: border-color ease .2s;
		width: 100%;
		font-family: 'Lato';
		color: $bleu-typo;
		font-size: 1.4rem;
		border: 1px solid #e0e0e6;
		padding: 9px 15px 7px;
		border-radius: 4px;

		&:focus{
			border-color: darken(#e0e0e6, 15%);
		}
	}

	input[type="text"]{
		margin-bottom: 5px;
		padding-left: 40px;
	}

	textarea{
		margin-bottom: 20px;
		resize: none;
		color: rgba($bleu-typo, .75);
		font-size: 1.3rem;
		line-height: 1.4em;
		margin-top: 5px;
	}

	.wrapper-gift-input{

		position: relative;

		span{
			position: absolute;
			top: 8px;
			left: 11px;

			svg{
				width: 20px;
				height: auto;
				fill: $bleu-typo;
				
			}
		}
	}
}

.form-gift,
.wrapper-bt{
	text-align: center;
	margin-top: 20px;
}

.form-gift{
	display: none;
}

.wrapper-illus{
	display: inline-block;
	text-align: center;

	.wrapper-illustration{
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
	}

	img{
		width: 75px;
		height: auto;
	}

	label{
		transition: opacity ease .25s;
		display: inline-block;
		position: relative;
		opacity: .25;

		&:hover{
			cursor: pointer;
		}
	}

	input{
		display: none;
	}

	input[type="radio"]:checked + label{
		opacity: 1;
	}
}

.modal-user{

	display: none;

	h3{
		font-weight: 900;
		text-transform: uppercase;
		text-align: center;
		color: $bleu-typo;
		margin: 20px 0;
	}

	.bt{
		margin: 0 auto;
	}

	.wrapper-gift-input span svg{
		width: 17px;
	}
}

.add-user{
	text-align: center;

	.bt{

	}
}

.edit-user{
	margin-bottom: 35px;
	display: none;

	h3{
		font-weight: 900;
		text-transform: uppercase;
		text-align: center;
		color: $bleu-typo;
		margin: 20px 0;
	}

	.wrapper-gift-input span svg{
		width: 17px;
	}
}

.wrapper-username{

	position: relative;

	span{
		transition: opacity 0.25s ease;
		position: absolute;
		top: 12px;
		cursor: pointer;
		opacity: 0;

		svg{
			transition: fill ease .3s;
			fill: #c7c7c7;
			height: 20px;
			width: auto;
		}
	}

	&:hover span{
		opacity: 1;
	}

	.ico-delete-user{
		right: 43px;

		&:hover svg{
			fill: $rouge;
		}
	}

	.ico-edit-user{
		right: 10px;

		&:hover svg{
			fill: $vert;
		}
	}
}

