//Juste pour faire une page à peu près correct

.componentPage{
	> h2{
		margin: 10px;
	}
}

//Component

.bt{
	transition: all ease .4s;
	border-radius: 2em;
	padding: .7em 1.8em;
	text-decoration: none;
	display: inline-block;
	font-weight: $medium;
	font-size: 1.5rem;
	text-align: center;
	line-height: 1.2em;
	
	&:hover{
		padding: .7em 2em;
	}
}

button.bt{
	cursor:pointer;
	border:0;
	font-family: 'Quicksand', sans-serif;
}

.bt + .bt{
	margin-left: 10px;
}

.red-bt{
	background-color: $red;
	color: $white;
	box-shadow: 0 0 8px 0px rgba($red, .3);
}

.white-bt{
	background-color: $white;
	color: $primary;
	box-shadow: 0 0 8px 0px rgba($white, .3);
}

.color-bt{
	background-color: $primary;
	color: $white;
	box-shadow: 0 0 8px 0px rgba($primary, .3);
}

.border-pink-bt{
	border: 2px solid $secondary;
	color: $white;
}

.border-primary-bt{
	border: 2px solid $primary;
	color: $primary;
}

.border-white-bt{
	border: 2px solid $white;
	color: $white;
}



// Global list

.list_elt{
	padding: $padding/1.75 $padding;
	background-color: $primary;
	color: $white;
	
	h3{
		font-size: 1.9rem;
	}
}


// Single Person

.single-people{
	display: flex;
	align-items: center;
	
	img{
		flex-shrink: 0;
		border-radius: 100%;
		padding: 4px;
		border: 2px solid rgba($white, .4);
		height: 75px;
		width: 75px;
	}
	
	.inner-singlePeople{
		margin-left: 20px;
	}
	
	.bt{
		margin-top: 10px;
	}
	
	h3{
		margin-left: 15px;
	}
}

// Single Gift

.single-gift{
}

.gift-content{
}

.gift-admin{
	margin-top: 15px;
	display: flex;
}

.gift-header{
	display: flex;
	align-items: center;
	
	h3{
		margin-bottom: 5px;
	}
	
	.bt{
		font-size: 1.2rem;
		margin-left: 15px;
	}
}

.gift-description{
	margin-top: 8px;
}


// Arrow

.arrow{
	background:none;
	border:0;
	cursor: pointer;
	
	.arrow-text{
		display: none;
	}
	.arrow-shape{
		transition: all ease .3s;
		display: block;
		height: 2px;
		width: 35px;
		background-color: $white;
		position: relative;
		border-radius: 2px;
		
		&::before,
		&::after{
			transition: all ease .3s;
			content:'';
			display: block;
			height: 2px;
			width: 15px;
			border-radius: 2px;
			background-color: $white;
			position: absolute;
		}
		
		&::before{
			transform: rotate(40deg);
			transform-origin: left bottom;
		}
		
		&::after{
			transform-origin: left top;
			transform: rotate(-40deg);
		}
	}
}

.arrow:hover{
	
	.arrow-shape{
		width: 40px;
		
		&::before,
		&::after{
			width: 18px;
		}
		
		&::before{
			transform: rotate(35deg);
		}
		
		&::after{
			transform: rotate(-35deg);
		}
	}
}

.arrow:active{
	
	.arrow-shape{
		
		
		&::before,
		&::after{
			transition: all ease .1s;
		}
		
		&::before{
			transform: rotate(28deg);
		}
		
		&::after{
			transform: rotate(-28deg);
		}
	}
}

//