//Juste pour faire une page à peu près correct

.componentPage{
	> h2{
		margin: 10px;
	}
}

//Component

.bt{
	transition: all ease .4s;
	border-radius: 2em;
	padding: .75em 1.8em .7em;
	text-decoration: none;
	display: inline-block;
	font-weight: $medium;
	font-size: 1.5rem;
	text-align: center;
	line-height: 1.2em;
	
	&:hover{
		padding: .75em 2em .7em;
	}
}

button.bt{
	cursor:pointer;
	border:0;
	font-family: 'Quicksand', sans-serif;
}

.bt + .bt{
	margin-left: 10px;
}

.red-bt{
	background-color: $red;
	color: $white;
	box-shadow: 0 0 8px 0px rgba($red, .3);
}

.white-bt{
	background-color: $white;
	color: $primary;
	box-shadow: 0 0 8px 0px rgba($white, .3);
}

.color-bt{
	background-color: $primary;
	color: $white;
	box-shadow: 0 0 8px 0px rgba($primary, .3);
}

.border-pink-bt,
button.border-pink-bt{
	border: 2px solid $secondary;
	color: $white;
	background:none;
}

.border-primary-bt,
button.border-primary-bt{
	border: 2px solid $primary;
	color: $primary;
	background:none;
}

.border-white-bt,
button.border-white-bt{
	border: 2px solid $white;
	color: $white;
	background:none;
}



// Global list

.list_elt{
	padding: $padding/2;
	background-color: $primary;
	color: $white;
	border-radius: 10px;
	
	h3{
		font-size: 1.9rem;
	}
}


// Single Person

.single-people{
	display: flex;
	align-items: center;
	
	img{
		flex-shrink: 0;
		border-radius: 100%;
		padding: 4px;
		border: 2px solid rgba($white, .4);
		height: 75px;
		width: 75px;
	}
	
	.inner-singlePeople{
		margin-left: 15px;
	}
	
	.bt{
		margin-top: 10px;
	}
	
	h3{
		margin-left: 15px;
	}
}

.background{
	position: relative;
	overflow: hidden;
	
	&::after{
		content:'';
		position: fixed;
		top:0;
		left:0;
		bottom:0;
		right: 0;
		background-image: url('img/background.svg');
		background-size:cover;
		z-index: -1;
	}
	
	&::before{
		content:'';
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right: 0;
		z-index: -2;
	}
}

.white-background{
	padding: $padding;
	
	&::after{
		mix-blend-mode: darken;
		opacity: .3;
	}
	
	&::before{
		background-color: #F7F5FF;
	}
}

.primary-background{
	padding: $padding;
	
	&::after{
		mix-blend-mode: color-burn;
	}
	
	&::before{
		background-color: $primary;
	}
	
	.list_elt{
		color: $primary;
		background-color: $white;
		position: relative;
		box-shadow: 0 0 10px $primary;
	}
	
	.single-people{
		img{
			border-color: $primary;
		}
	}
}

// Single Gift

.single-gift{
}

.gift-content{
}

.gift-admin{
	margin-top: 15px;
	display: flex;
}

.gift-header{
	display: flex;
	align-items: center;
	
	h3{
		font-size: 1.7rem;
		margin-bottom: 5px;
		line-height: 1.2em;
		flex-grow: 1;
	}
	
	.bt{
		font-size: 1.1rem;
		margin-left: 15px;
		flex-shrink: 0;
	}
}

//List element scroll

.list_elt_scroll{
	display: flex;
	align-items: center;
	overflow-x: scroll;
	
	.gift-content{
		flex-shrink: 0;
		width: 90%;
	}
	
	.wrapper-bt-elt{
		margin-left: 20px;
		padding-right: $padding;
		display: flex;
		align-items: center;
		position: relative;
	}
}

// Arrow

.arrow{
	background:none;
	border:0;
	cursor: pointer;
	padding: 12px;
	
	.arrow-text{
		display: none;
	}
	.arrow-shape{
		transition: all ease .3s;
		display: block;
		height: 2px;
		width: 35px;
		background-color: $white;
		position: relative;
		border-radius: 2px;
		
		&::before,
		&::after{
			transition: all ease .3s;
			content:'';
			display: block;
			height: 2px;
			width: 15px;
			border-radius: 2px;
			background-color: $white;
			position: absolute;
		}
		
		&::before{
			transform: rotate(40deg);
			transform-origin: left bottom;
		}
		
		&::after{
			transform-origin: left top;
			transform: rotate(-40deg);
		}
	}
}

.arrow:hover{
	
	.arrow-shape{
		width: 40px;
		
		&::before,
		&::after{
			width: 18px;
		}
		
		&::before{
			transform: rotate(35deg);
		}
		
		&::after{
			transform: rotate(-35deg);
		}
	}
}

.arrow:active{
	
	.arrow-shape{
		
		
		&::before,
		&::after{
			transition: all ease .1s;
		}
		
		&::before{
			transform: rotate(28deg);
		}
		
		&::after{
			transform: rotate(-28deg);
		}
	}
}

// User information

.user-infos{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 $padding;
	
	img{
		flex-shrink: 0;
		border-radius: 100%;
		padding: 4px;
		border: 2px solid $primary;
		height: 75px;
		width: 75px;
	}
	
	.bt{
		margin-left: 90px;
		margin-top: 10px;
	}
}

//Avatar
.avatar{
	flex-shrink: 0;
	border-radius: 100%;
	padding: 4px;
	border: 2px solid $primary;
	height: 75px;
	width: 75px;
}

.inner-user-infos{
	margin-left: 20px;
	margin-right: 20px;
	font-size: 1.4rem;
	font-weight: $regular;
	line-height: 1.2em;
	flex-grow: 1;
	color: $primary;

	h1{
		@extend %h1;
	}
	
	.bt{
		margin-top: 15px;
	}
}

.birthday-infos{
	color: $primary;
	margin-top: 10px;
	display: inline-flex;
	align-items: center;
	
	.age{
		font-size: 1.1rem;
		margin-left: 8px;
	}
}

.size-infos{
	margin-top: 2px;
	color: $primary;
	display: flex;
}

.wrapper-size{
	display: flex;
	align-items: center;
	
	& + .wrapper-size{
		margin-left: 15px;
	}
}

//icons svg

.svg-wrapper{
	//background-color: red;
	display: inline-flex;
	height: 25px;
	margin-right: 5px;
	
	object{
		margin: auto;
		width: 22px;
		height: 18px;
	}
}

// Message

.message{
	transition: all ease .5s;
	text-align: center;
	color: $white;
	font-weight: $medium;
	padding-top: 1.5*$padding;
	padding-bottom: 1.5*$padding;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	font-size: 1.4rem;

	&::after{
		position: absolute;
	}

	p{
		line-height: 1.4em;
	}
	
	p:first-child{
		font-size: 1.3em;
	}
	
	strong{
		font-weight: bolder;
	}

	.bt-group{
		margin-top: $padding;

		*{
			margin-bottom: 5px;
		}

		.bt + .bt{
			margin-left: 5px;
			margin-right: 5px;
		}
	}
}

.message.animation{
	animation-name: sortieEcran;
	animation-duration: 1s;
	animation-delay: 5s;
	animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
	animation-fill-mode: forwards;
}


@keyframes sortieEcran{
	from{
		bottom: 0;
	}
	to{
		bottom: -100%;
	}
}

.fade-enter-active, .fade-leave-active {
  transition: all cubic-bezier(.68,-0.55,.27,1.55) .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  margin-bottom: -100%;
}