*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
	background-color: $white;
}

body{
	font-size: 1.4rem;
	line-height: 1.25em;
	font-family: 'Quicksand', sans-serif;
	font-weight: $regular;
}

.wrapper{
	padding-left: $padding;
	padding-right: $padding;
}

// Typo

h2{
	font-size: 1.9rem;
	font-weight: $bold;
}

section h2{
	padding: 0 $padding;
	margin-bottom: 20px;
}

// Header connecté

.header-connected{
	background-color: $primary;
	width: 100%;
	padding: 12px $padding;
	border-radius: 0 0 0 100px;
	display: flex;
	justify-content: space-between;
	
	.bt{
		font-size: 1.3rem;
		align-self: flex-end;
	}
}