.grid{
	display: grid;
	grid-gap: 15px;
}

@include width-below(650px){
	.grid{
		grid-template-columns: 100%;
	}	
}

@include width-between(650px, 1100px){
	.grid{			
		grid-template-columns: 1fr 1fr;
	}
}

@include width-between(1100px, 1600px){
	.grid{			
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@include width-above(1600px){
	.grid{			
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}