$primary: #4B4476;
$secondary: #D56EF6;
$white: #F9F9FC;
$black: #000;
$grey: #9B9AA3;
$red: #E36A6A;

$padding: 35px;

$book : 100;
$thin: 200;
$light: 300;
$regular : 400;
$medium : 500;
$semibold: 600;
$bold : 700;
$extrabold: 800;
$black : 900;
