$primary: #413780;
$secondary: #D56EF6;
$white: #F9F9FC;
$black: #292929;
$grey: #9B9AA3;
$red: #E36A6A;

$padding: 30px;

$book : 100;
$thin: 200;
$light: 300;
$regular : 400;
$medium : 500;
$semibold: 600;
$bold : 700;
$extrabold: 800;
$black : 900;

%h1{
	font-size: 2em;
	font-weight: $bold;
	color: $primary;
	margin-top: 10px;
}