.wrap-form{
	border: 2px solid $white;
	border-radius: 25px;
	position: relative;
	
	label, .fake-label{
		display: block;
		font-weight: $bold;
		text-transform: uppercase;
		font-size: 1.3rem;
	}
	
	.label-wrap{
		display: flex;
		align-items: center;
		position: absolute;
		top: -15px;
		left: $padding;
		background-color: $white;
		background-clip: padding-box;
		padding: .3em 1em .2em 1em;
		color: $primary;
		border-radius: 5px;
	}
	
	input, textarea{
		padding: 1em $padding .7em;
		border:0;
		width: 100%;
		background: none;
		color: $white;
	}

	textarea{
		resize: vertical;
	}
	
	.helper{
		margin-left: 5px;
		font-size: 1.2rem;
		opacity: .6;
		text-transform: uppercase;
	}
}

.mini-form{
	margin-top: 10px !important;
	
	.label-wrap{
		left:50%;
		transform: translateX(-50%);
	}
	
	label{
		font-size: 1.1rem;
	}
	
	input{
		text-align: center;
		padding-left: .4em;
		padding-right: .4em;
	}
}

.wrapper-form{
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 1fr 1fr 1fr;
	margin: $padding;
}

.wrap-form + .wrap-form{
	margin-top: $padding*1.5;
}

.single-choice{
	margin-right: 20px;
	margin-bottom: 20px;

	input{
		display: none;
	}
	
	img{
		transition: all ease .4s;
	}
	
	label{
		cursor: pointer;
	}
	
	input:checked{
		+ label svg{
			fill: rgba($secondary, .5);
		}
	}
	
	input:not(:checked){
		
		img{
			transition: all ease .4s;
		}
		
		+ label{
			opacity: .4;
		}
	}
}

.content-img-choice{
	padding: $padding;
	display: flex;
	flex-wrap: wrap;
}

.switch{
	
	input{
		height: 0;
		width: 0;
		opacity: 0;
		position: absolute;
	}
	
	label{
		display: flex;
		background-color: $primary;
		position: relative;
		border:10px solid $primary;
		border-radius: 30px;
		cursor: pointer;
		
		&::before{
			content:'';
			position: absolute;
			right: 0;
			background-color: $white;
			//width: 50%;
			height: 100%;
			z-index: 2;
			border-radius: 30px;
		}
	}
	
	span{
		display: block;
		width: 50%;
		text-align: center;
		z-index: 2;
		padding: .7em $padding;
		font-weight: $bold;
	}
	
	:checked{
		
		+ label::before{
			transition: all cubic-bezier(.68,-0.55,.27,1.55) .5s;
			right: 50%;
			left: 0;
		}
		
		+ label{
			
			span{
				transition: all ease .4s .4s;	
			}
			
			.switch-option1{
				color:$primary;
			}
			
			.switch-option2{
				color:rgba($white, .25);
			}
		}
		
		
	}
	
	:not(:checked){
		
		+ label::before{
			transition: all cubic-bezier(.68,-0.55,.27,1.55) .5s;
			right: 0;
			left: 50%;
		}
		
		+ label{
			
			span{
				transition: all ease .4s .4s;	
			}
			
			.switch-option1{
				color:rgba($white, .25);
			}
			
			.switch-option2{
				color:$primary;
			}
		}
	} 
}

.wrap-form-borderless{
	border:0;
	
	.label-wrap{
		z-index: 2;
	}
}

.choiceParent{
	padding: $padding;
	
	input{
		height: 0;
		width: 0;
		opacity: 0;
		position: absolute;
	}
	
	label{
		transition: all cubic-bezier(.68,-0.55,.27,1.55) .3s;
		display: flex;
		align-items: center;
		cursor: pointer;
		border: 2px solid transparent;
		border-radius: 50px;
		position: relative;	
		opacity: .4;
	}
	
	img{
		transition: all cubic-bezier(.68,-0.55,.27,1.55) .3s;
		margin-right: 15px;
	}
	
	:checked{
		+ label{
			//background-color: $primary;
			color: $primary;
			margin-left: $padding;
			opacity: 1;

			svg{
				fill: rgba($secondary, .5);
			}
		}
		
		
	}
}

form .bt-wrapper{
	margin-top: $padding;

	@include width-below(700px){
		text-align: center;
	}

}

form input{
	font-size: 1.4rem;
}

form .hide{
	display: none;
}

