<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>KDO – {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex, nofollow">
</head>

<body class="{% block body_class %}{% endblock %}">
	{% block content %}{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="assets/js/scripts.js"></script>
</body>

</html>