<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>KDO – {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex, nofollow">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/img/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#202859">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#202859">


</head>

<body class="{% block body_class %}{% endblock %}">
	{% block content %}{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="assets/js/scripts.js"></script>
</body>

</html>