.top-header {
	
	&--home--intro {
		text-align: center;
		display: block;
		font-size: 5rem;
		line-height: 1em;
		font-weight: $semibold;
		color: $primary;
		text-transform: uppercase;
	}
	
	&--sousTitre{
		color: $primary;
		text-transform: uppercase;
		font-weight: $medium;
		text-align: center;
		opacity: .5;
	}
}

.choice-client--top {
	margin-top: 40px;
	text-align: center;
	color: $grey;
	color: $primary;
	
	span {
		display: block;
		font-size: 1.5rem;
		text-transform: uppercase;
	}
	
	.home-txt{
		//margin-top: $padding;
		font-size: 1.3rem;
		padding: 20px $padding $padding;
		opacity: .5;
	}
}

.add-account-home{
	text-align: center;
	margin-top: $padding;
	position: relative;
	z-index: 4;
}

.home-header{
	padding: 20vw $padding $padding;
}