.overlay-parent{
	position: relative;
	
	li{
		opacity: .3;
	}
	
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left:0;
	}
}

.overlay-wish{
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}