{% extends "base.twig" %}

{% block title %}Choix du compte{% endblock %}
{% block body_class %}template-home{% endblock %}

{% block content %}

	<div class="wrapper-home wrapper">

		<section class="home-header">
		
			<h1>Hello</h1>
			<p class="h1-subtitle">Pas de compte ?</p>
			
			<div class="multi-button">
				<a href="guest.php" class="bt color-bt">Me connecter en invité</a>
				<a href="add_account.php" class="bt border-primary-bt">Ajouter un compte</a>
			</div>	

		</section>

		<section class="list-connection">

			{% if users is not empty %}

				{% set vars = {'btLink':'user.php?user=','btTxt':'Me connecter', 'list' : users ,'col':2} %}
				{% include 'template-parts/user-list.twig' with vars %}

				{% endif %}

		</section>

	</div>

	{% if message %}
	{% include 'template-parts/form-message.twig' %}
	{% endif %}

{% endblock content %}
