{% extends "base.twig" %}

{% block body_class %}guest{% endblock %}

{% block content %}

	<div class="wrapper">
			<section class="guest-wrapper">
	
		<h1>Ton prénom ?</h1>

		<form action="listusers.php" method="post">
			<input type="text" name="guestname" autofocus>
			<button type="submit" class="bt color-bt">Valider</button>
		</form>

	</section>
	</div>



{% endblock content %}