{% extends "base.twig" %}

{% block body_class %}guest{% endblock %}

{% block content %}
	
<section class="user-infos background white-background">
	<div class="inner-user-infos">
	<h1>Invité</h1>
	<p>Vous pouvez voir toutes les listes et réserver des cadeaux.</p>
	</div>
</section>

{% if users is not empty %}

<section class="primary-background background">
	<h2>Voir les listes</h2>

	{% set vars = {'btLink':'list.php?user=','btTxt':'Voir la liste'} %}
		{% include 'template-parts/user-list.twig' with vars %}
	
</section>

{% endif %}

{% endblock content %}