{% extends "base.twig" %}

{% block body_class %}connected-user-profil{% endblock %}

{% block content %}

	<div class="wrapper">

		{# Users infos #}

		{% if currentUser is not empty %}

			{% set vars = {'canEdit' : true} %}
			{% include 'template-parts/user-infos.twig' with vars %}

		{% endif %}

		{# Other editable lists #}

		{% if children is not empty %}

		<section class="other-lists">

			<h2>Mes autres listes modifiables</h2>

			{% set vars = {'btLink':'list.php?user=','btTxt':'Accéder à la liste', 'list' : children} %}
			{% include 'template-parts/user-list.twig' with vars %}

		</section>

		{% endif %}


		{# Users latest gifts #}

		{% if currentUser.gifts is not empty %}

		<section class="list-gifts">

			<h2>Mes cadeaux</h2>

			<ul class="grid">
				
				{% for gift in currentUser.gifts %}
			
					{% set vars = {'canEdit' : true} %}
					{% include 'template-parts/single-gift.twig' with vars %}
				
				{% endfor %}

			</ul>

		</section>
		
		{% endif %}

	</div>{# .wrapper #}


	<div class="blob-wrapper">

		<div class="wrapper">

			{# Other users list #}

			{% if users is not empty %}

			<section class="list-users">
				<h2>Listes</h2>
				<p class="h3">Voir les listes</p>

				{% set vars = {'btLink':'list.php?user=','btTxt':'Voir la liste', 'list': users} %}
				{% include 'template-parts/user-list.twig' with vars %}

				<div class="all-lists">
					<a href="#" class="bt border-white-bt">Voir toutes les listes en même temps</a>
				</div>
				
				
			</section>

			{% endif %}

		</div>

	</div>

	<a href="#" class="add-gift-bt">
		<span>+</span>
	</a>
	

{% endblock content %}