{% extends "base.twig" %}

{% block body_class %}connected-user-profil{% endblock %}
{% block title %}{{ currentUser.infos.name|e }}{% endblock %}

{% block content %}

	{% if permissions.owner == false and permissions.parent == true %}
	
    <div class="return-profil">
            <a href="user.php?user={{ logedInUser }}" class="bt border-white-bt">Retourner sur mon profil</a>
    </div>

	{% endif %}

	<div class="wrapper">

		{# Users infos #}
		{% if currentUser is not empty %}
			{% include 'template-parts/user-infos.twig' %}
		{% endif %}

		{# Other editable lists #}
		{% if children is not empty and permissions.owner == true %}

		<section class="other-lists">

			<h2>Mes autres listes modifiables</h2>

			{% set vars = {'btTxt':'Accéder à la liste', 'list' : children} %}
			{% include 'template-parts/user-list.twig' with vars %}

		</section>

		{% endif %}


		{# Users other lists #}

		{% if currentUser.lists is not empty %}

		<section class="list-lists">

			<h2>Mes listes externes</h2>

			<ul class="grid">
				
				{% for list in currentUser.lists %}
			
					{% set vars = {'userID' : currentUser.infos.id , 'gift' : list } %}
					{% include 'template-parts/single-list.twig' with vars %}
				
				{% endfor %}

			</ul>

		</section>
		
		{% endif %}


		{# Users gifts #}

		{% if currentUser.gifts is not empty %}

		<section class="list-gifts">

			<h2>Mes cadeaux</h2>

			<ul class="grid">
				
				{% for gift in currentUser.gifts %}
			
					{% set vars = {'userID' : currentUser.infos.id } %}
					{% include 'template-parts/single-gift.twig' with vars %}
				
				{% endfor %}

			</ul>

		</section>

		{% else %}

			{% if permissions.owner == true %}

			<section class="no-gifts">
				<p>Pas encore de cadeau !</p>

				<div class="bt-wrapper">
					<button type="button" class="bt color-bt" id="add-gift-bt">Ajouter mon premier cadeau</button>
				</div>

			</section>

			{% endif %}
		
		{% endif %}

	</div>{# .wrapper #}


	<div class="blob-wrapper">

		<div class="wrapper">

			{# Other users list #}

			{% if otherUsers is not empty %}

			<section class="list-users">
				<h2>Listes</h2>
				<p class="h3">Voir les listes</p>

				{% set vars = {'btTxt':'Voir la liste', 'list': otherUsers} %}
				{% include 'template-parts/user-list.twig' with vars %}


				{# TODO 
				<div class="all-lists">
					<a href="#" class="bt border-white-bt">Voir toutes les listes en même temps</a>
				</div>
				#}
				
				
			</section>

			{% endif %}

		</div>

	</div>

	{% if permissions.owner == true or permissions.parent == true %}

	<div class="add-gift-form">
		<button class="add-gift-bt" id="add-gift-bt">
			<span>+</span>
		</button>

		{% include 'template-parts/form-gift.twig' with {'action':'form/add-gift.php', 'button':'Ajouter ce cadeau', 'title':'Ajouter un cadeau'} %}
	</div>

	<div class="edit-gift-form">
		{% include 'template-parts/form-gift.twig' with {'action':'form/edit-gift.php', 'button':'Modifier ce cadeau', 'title':'Modifier ce cadeau', 'mode' : 'edit'} %}
	</div>

	{% endif %}

	{% if message is not empty %}
		{% include 'template-parts/form-message.twig' with {'message':message} only %}
	{% endif %}
	
	

{% endblock content %}