.form-account{
	padding-top: 75px;
	padding-bottom: 75px;

	@include blob(40vw,110vh,$primary);

	&::after{
		bottom: -5vh;
		right: -30vw;
		position: fixed;
	}

	section{
		max-width: 60vw;
	}

	h2{
		margin-left: 0;
	}

	.wrap-form{
		border-color: $primary;

		input, textarea{
			color: $primary;
		}
	}

	.title-group{
		margin-bottom: 75px;
	}
}

.delete-account-form{
	margin-top: $padding;
}

.message{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color: $primary;
	padding-top: $padding;
	padding-bottom: $padding;
	text-align: center;

	p, h3{
		color: $white;
	}

	h3{
		font-family: $title-font;
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	p{
		font-size: 1.5rem;
		margin-bottom: $padding;
	}
}