.template-home{
	display: flex;
	min-height: 100vh;
	padding-top: $padding;
	padding-bottom: $padding;

	@include width-above(700px){

		@include blob(60vw,130vh,$primary);
		&::after{
			bottom: -10vh;
			right: -15vw;
			position: fixed;
		}
	}

	.list-connection{
		margin-top: $padding;
		margin-bottom: $padding;
		min-width: 400px;

		@include width-below(800px){
			width: 100%;
			min-width: 0;
		}

	}
}

.wrapper-home{
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.home-header{

	@include width-below(700px){
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}


	@include width-above(800px){
		margin-right: 70px;
	}
	

	h1{
		font-size: clamp(4rem, 15vw, 14rem);
	}

	.h1-subtitle{
		font-size: 2.7rem;
		font-weight: bold;
	}

	.multi-button{
		margin-top: 3rem;
	}
}

